.poly-container {
  @extend .columns, .is-multiline, .is-centered, .is-tablet;
  flex-basis: 100%;
  flex-shrink: 0.5;

  @for $i from 1 through 6 {
    > h#{$i} {
      @extend .title, .is-size-#{$i};
      width: 100%;
      @if $i < 6 {
        & + h#{$i + 1} {
          @extend .subtitle;
        }
      }
    }
  }

  > blockquote,
  > pre {
    @extend .box;
  }

  $selector: "";
  $child-selector: "& + div:not([class^=\"poly-\"]):not([class~=\" poly-\"]),";

  $first: true;
  @each $el in $poly-container-elements {
    @if $first == false {
      $selector: $selector + ",";
      $child-selector: $child-selector + ",";
    }
    $selector: $selector + "> #{$el}";
    $child-selector: $child-selector + "& + #{$el}";
    $first: false;
  }

  #{$selector} {
    @extend .column;
    
    @include until($tablet) {
      flex-basis: 100%;
    }
    @include from($tablet) {
      &:first-child, #{$child-selector} {
        &:not(:has(+ .poly-container-block)) {
          flex-basis: 100%;
        }
      }
    }
  }

  .poly-container-block {
    @extend .column, .is-full-mobile, .is-half-tablet, .is-one-third-desktop;

    #{$child-selector} {
      @extend .column, .is-full;
    }
  }

  .poly-asset-card {
    @extend .card;
  }

  a.poly-asset-card {
    @extend .is-block;

    @include hover() {
      @extend .has-background-primary;
      &,
      * {
        @extend .has-text-white;
      }
    }
  }
}
