.poly-container {
  flex-basis: 100%;
  flex-shrink: 0.5;
  display: block;
  &,
  .poly-content {
    @for $i from 1 through 6 {
      > h#{$i} {
        @extend .title, .is-size-#{$i};
        width: 100%;
        color: inherit;
        @if $i < 6 {
          & ~ h#{$i + 1} {
            @extend .subtitle;
          }
        }
      }
    }

    > blockquote,
    > pre {
      @extend .box, .mx-auto;
      @include from($tablet) {
        &:has(+ .poly-container-block) {
          width: calc(50% - 0.75rem);
          float: left;
          clear: left;
        }
      }
      @include from($desktop) {
        &,
        &:has(+ .poly-container-block) {
          width: calc(60% - 0.75rem);
        }
      }
      @include from($widescreen) {
        &,
        &:has(+ .poly-container-block) {
          width: calc(65% - 0.75rem);
        }
      }
      @include from($fullhd) {
        &,
        &:has(+ .poly-container-block) {
          width: calc(70% - 0.75rem);
        }
      }
    }
    > p {
      @extend .content;
    }
  }

  .poly-container-block {
    @extend .my-4;
    display: block;
    @include until($tablet) {
      width: 100%;
    }
    @include from($tablet) {
      float: right;
      clear: both;
      margin-left: 0.75rem !important;
      width: 50%;
    }
    @include from($desktop) {
      width: 40%;
    }
    @include from($widescreen) {
      width: 35%;
    }
    @include from($fullhd) {
      width: 30%;
    }
    &.poly-link {
      @include hover() {
        .poly-hero-card {
          background-color: $link-light;
          background-image: none;
          color: $link;
        }
      }
    }
    &:last-child {
      float: none;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

  .poly-asset-card {
    @extend .card;
  }

  a.poly-asset-card {
    @extend .is-block;

    @include hover() {
      background-color: $link-light;
    }
  }

  .poly-message {
    @extend .message, .is-info;
    .message-body {
      color: darken($poly-info, 10%);
    }
  }
}
