.poly-grid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  @include from($tablet) {
    grid-template-columns: repeat(2, 50%);
  }
  @include from($desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include from($fullhd) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include from($desktop) {
    align-self: flex-start;
  }

  .poly-subgrid {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto;
    grid-auto-flow: dense;
  }

  .poly-group-title,
  .poly-group-footer {
    @extend .is-flex;
    grid-column: 1/-1;
    padding-left: $column-gap;
    padding-right: $column-gap;
    > a {
      @extend .button, .is-text;
      display: block;
      width: fit-content;
    }
  }

  .poly-group-title {
    @extend .title, .subtitle, .is-size-5, .mb-0;
    margin-top: $column-gap;
  }
  .poly-group-footer {
    @extend .is-justify-content-flex-end;
    > a {
      @extend .is-small;
    }
    hr {
      @extend .m-0, .mt-3;
      flex-basis: 100%;
    }
  }

  .poly-tile {
    &.poly-tile-layout-hero {
      grid-row: span 2;
    }
  
    &.poly-tile-layout-banner {
      @include from($tablet) {
        grid-column: span 2;
      }
    }

    &.poly-tile-layout-block,
    &.poly-tile-layout-contents {
      grid-column: 1/-1;
    }
  }
}
