.poly-grid {
  @extend .columns, .is-multiline, .is-mobile, .mx-0;
  flex-grow: 1;

  .poly-group-title,
  .poly-group-footer {
    @extend .column, .is-full, .p-0;
    margin-left: $column-gap;
    > a {
      display: block;
      padding: $column-gap;
      border-radius: $card-radius;
      width: fit-content;
    }
  }

  .poly-group-title {
    @extend .title, .is-subtitle, .is-size-5, .mb-0;
    margin-top: $column-gap;
  }
  .poly-group-footer {
    hr {
      margin: $column-gap $column-gap + $poly-grid-pop 0 0;
    }
  }

  .poly-tile {
    @extend .column;

    &.poly-tile-layout-default {
      @extend .is-4-desktop, .is-6-tablet, .is-full-mobile;
    }
  
    &.poly-tile-layout-hero,
    &.poly-tile-layout-banner {
      @extend .is-6-desktop, .is-full-tablet, .is-full-mobile;
    }

    &.poly-tile-layout-default {
      @extend .is-4-desktop, .is-6-tablet, .is-full-mobile;
    }

    &.poly-tile-layout-hero,
    &.poly-tile-layout-banner {
      @extend .is-6-desktop, .is-full-tablet, .is-full-mobile;
    }

    &.poly-tile-layout-block,
    &.poly-tile-layout-contents {
      @extend .is-full, .p-0;
    }
  }
}
