.poly-grid {
  @extend .columns, .is-multiline, .is-mobile, .mx-0;
  flex-grow: 1;

  @include from($desktop) {
    align-self: flex-start;
  }

  .poly-group-title,
  .poly-group-footer {
    @extend .column, .is-full, .is-flex, .is-flex-wrap-wrap;
    > a {
      @extend .button, .is-text;
      display: block;
      width: fit-content;
    }
  }

  .poly-group-title {
    @extend .title, .subtitle, .is-size-5, .mb-0;
    margin-top: $column-gap;
  }
  .poly-group-footer {
    @extend .is-justify-content-flex-end;
    > a {
      @extend .is-small;
    }
    hr {
      @extend .m-0, .mt-3;
      flex-basis: 100%;
    }
  }

  .poly-tile {
    @extend .column, .is-flex-grow-1;

    &.poly-tile-layout-default {
      @extend .is-3-fullhd, .is-4-widescreen, .is-4-desktop, .is-6-tablet, .is-full-mobile;
    }
  
    &.poly-tile-layout-hero,
    &.poly-tile-layout-banner {
      @extend .is-4-fullhd, .is-6-desktop, .is-full-tablet, .is-full-mobile;
    }

    &.poly-tile-layout-block,
    &.poly-tile-layout-contents {
      @extend .is-full, .p-0;
    }
  }
}
