.poly-hero {
  @extend .container, .is-fluid, .px-0;
  > section {
    @extend .hero, .is-halfheight, .is-primary;
    > header {
      @extend .hero-head;
      > nav {
        @extend .navbar, .is-fixed-top;
        box-shadow: 0 0.01rem 0.025rem rgba($scheme-invert-ter, 50%);
        background-color: rgba($scheme-main, 0.97);
      }
    }
    .poly-hero-body {
      @extend .hero-body;
      overflow: hidden;

      &.poly-with-image {
        @include backgrounds();

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        padding: 0;

        .poly-content {
          @extend .container;
          width: 100%;
          align-self: end;
          flex-direction: column;
          align-items: start;
          .title,
          .subtitle {
            @extend .has-text-primary-light;
          }
          text-shadow: $poly-hero-text-shadow;
        }
      }

      @include from($widescreen) {
        max-width: $widescreen;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        &:not(.poly-with-image) {
          &,
          .poly-content .section {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
      .poly-content {
        overflow: hidden;
        backface-visibility: hidden;
      }
    }
  }
}

.poly-hero-card {
  @extend .card, .is-flex, .is-flex-direction-column;

  overflow: hidden;
  &.poly-with-image {
    @include backgrounds();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .poly-content {
      &:not(.poly-with-color) {
        .title,
        .content {
          color: $white;
        }
        text-shadow: $poly-hero-text-shadow;
      }
    }
  }
  .poly-content {
    @extend .card-content, .is-flex-grow-1;

    .title:only-child {
      @extend .mb-auto;
    }
  }
  .poly-card-image {
    @extend .card-image, .is-flex-shrink-0;
  }
  .poly-image {
    @extend .image;
  }
}

.poly-hero-block {
  &.poly-with-image {
    @include backgrounds();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .poly-content {
      .title,
      .content {
        @extend .has-text-white;
      }
      text-shadow: $poly-hero-text-shadow;
    }
  }
  .content {
    color: $text !important;
  }
  > * {
    @include from($fullhd) {
      max-width: $desktop;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
}

.poly-asset-card {
  @extend .poly-hero-card;
}
