.poly-hero {
  @extend .container, .is-fluid, .px-0;
  > section {
    @extend .hero, .is-halfheight, .is-primary;
    > header {
      @extend .hero-head;
      > nav {
        @extend .navbar;
        @include until($desktop) {
          box-shadow: 0 0.01rem 0.125rem darken($background, 50%);
          position: fixed;
          background-color: $background;
          width: 100%;
        }
        @include from($desktop) {
          background-color: transparent !important;
        }
      }
    }
    .poly-hero-body {
      @extend .hero-body;
      overflow: hidden;

      &.poly-with-image {
        
        @include backgrounds();
      
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left top;
        padding: 0;
      
        .poly-content {
          @extend .container;
          width: 100%;
          background-color: $background;
          align-self: end;
          flex-direction: column;
          align-items: start;
        }
      }

      @include from($widescreen) {
        max-width: $widescreen;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        &:not(.poly-with-image) {
          &, .poly-content .section {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
      .poly-content {
        overflow: hidden;
        > * {
          @extend .animate__animated, .animate__slideInUp;
        }
      }
    }
  }
}

.poly-hero-card {
  @extend .card;
  &.poly-with-image {
    @include backgrounds();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .poly-content {
      text-shadow: -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white, 1px 1px 0 $white;
    }
  }
  .poly-content {
    @extend .card-content;
  }
  .poly-image {
    @extend .image;
  }
}

.poly-hero-block {
  &.poly-with-image {
    @include backgrounds();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .poly-content {
      color: $white;
      text-shadow: 0px 1px 5px rgba($black, .75);
    }
  }
}