.poly-section-link,
.poly-taxonomy-term-link,
.poly-page-link,
.poly-out-link,
.poly-link {
  color: $primary !important;
  position: relative;

  &.poly-active-link {
    pointer-events: none;
    color: $grey-dark !important;
    text-decoration: underline;
  }
}

.poly-link-hover {
  @include hover() {
    @extend .has-background-primary;
    &,* {
      @extend .has-text-white;
    }
  }
}