.poly-link-text {
  color: $link;
  position: relative;
  text-decoration: underline;
  text-decoration-color: transparent;
}

.poly-link-hover-text {
  text-decoration-thickness: 0.1rem;
  @include hover((color, text-decoration-color)) {
    color: $link-dark !important;
    text-decoration: underline;
    text-decoration-skip-ink: all;
    text-decoration-thickness: 0.1rem;
    text-decoration-color: $link-dark;
  }
}

.poly-hero-hover {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    display: inline-block;
    animation-play-state: paused;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    top:0;
    background-image: $poly-hero-hover-background;
    backdrop-filter: blur(0);
  }
  .poly-content{
    position: relative;
  }
}

.poly-section-link,
.poly-taxonomy-term-link,
.poly-page-link,
.poly-out-link,
.poly-logo-link,
.poly-taxonomy-kind-link,
.poly-link {
  @extend .poly-link-text, .poly-link-hover-text;
}

.poly-logo-link {
  @extend .has-text-primary;
  @include hover((color, text-decoration-color)) {
    color: $primary-dark !important;
    text-decoration-color: $primary-dark !important;
  }
}

.poly-card-taxonomy-kind-link,
.poly-card-taxonomy-term-link,
.poly-card-section-link,
.poly-card-page-link,
.poly-asset-card-link,
.poly-card-link {
  .title::first-line {
    text-decoration: overline;
    text-decoration-color: transparent;
    text-decoration-thickness: 0.5px;
  }

  .poly-hero-card.poly-with-image {
    --animate-duration: #{$poly-ui-transition-time * 1.5};
    @extend .poly-hero-hover;
  }

  @include hover(
    (color, background-color, box-shadow, text-decoration-color, backdrop-filter),
    1.5
  ) {
    .poly-hero-card, .poly-asset-card {
      background-color: $link-light !important;
      box-shadow: $box-link-hover-shadow;
      &,
      .content,
      .title {
        color: $link-dark !important;
      }
      .title::first-line {
        text-decoration: overline;
        text-decoration-skip-ink: all;
        text-decoration-thickness: 0.5px;
        text-decoration-color: $link-dark !important;
      }
      &.poly-with-image {
        .poly-content {
          text-shadow: 0 0 0 transparent;
        }

        &::before {
          @extend .animate__animated, .animate__fadeInUp;
          animation-play-state: running;
          backdrop-filter: blur(10px);
        }
      }
    }
  }
}

.poly-block-section-link,
.poly-block-page-link {
  .title {
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 0.5px;
  }
  .poly-hero-block.poly-with-image {
    --animate-duration: #{$poly-ui-transition-time * 2};
    @extend .poly-hero-hover;
  }
  @include hover((color, text-decoration-color, text-shadow), 2) {
    .poly-hero-block {
      background-color: $link-light !important;
      .title {
        color: $link-dark !important;
        text-decoration-thickness: 0.5px;
        text-decoration: underline;
        text-decoration-skip-ink: all;
        text-decoration-color: $link-dark;
      }
      .content {
        color: a11y-color($text, $link-light, $_level, $_size) !important;
      }
      &.poly-with-image {
        .poly-content {
          text-shadow: 0 0 0 transparent;
          .title,
          .content {
            @extend .has-text-link-dark;
          }
        }
        &::before {
          @extend .animate__animated, .animate__fadeInUp;
          animation-play-state: running;
        }
      }
    }
  }
}

.poly-group-taxonomy-term-link,
.poly-group-section-link {
  @extend .poly-link-text, .poly-link-hover-text;
  @include hover((color, background-color, text-decoration-color)) {
    background-color: $link-light !important;
  }
}

.poly-active-link {
  cursor: default;
  color: $grey-dark;
  text-decoration: underline;
  text-decoration-thickness: .5px;
}
