.poly-navigation-blocks {
  @extend .container, .is-fluid;
  > section {
    .poly-nav {
      @extend .is-flex;

      @include until($tablet) {
        flex-direction: column;
      }
      &,
      .poly-taxonomy-nav-wrapper,
      .poly-taxonomy-nav,
      .poly-section-link,
      .poly-taxonomy-term-link,
      .poly-page-link,
      .poly-taxonomy-kind-link {
        @extend .tile;
      }
      @extend .is-ancestor;
      flex-wrap: wrap;
      .poly-section-nav-wrapper {
        @extend .tile, .p-0;
        @include until($tablet) {
          display: flex;
          flex-direction: column;
          &:not(:hover):not(:focus) {
            .poly-taxonomy-nav {
              margin-top: -100vh;
              display: none;
            }
          }
          .poly-taxonomy-nav {
            @include transition(
              $props: (
                margin,
              ),
              $multiplier: 2.5
            );
            &:hover,
            &:focus {
              margin-top: 0;
              transition-delay: 0;
            }
          }
          .poly-taxonomy-nav-wrapper {
            padding: 0;
          }
        }
      }
      .poly-section-link,
      .poly-taxonomy-term-link,
      .poly-page-link,
      .poly-taxonomy-kind-link {
        @extend .is-child, .box;
        @include until($desktop) {
          @include from($tablet) {
            min-width: 25vw;
          }
        }
        @include from($desktop) {
          @include until($widescreen) {
            min-width: 20vw;
          }
          // padding: 0.75rem;
        }
      }

      .poly-taxonomy-kind-link {
        font-size: larger;
        font-weight: $title-weight;
        color: $link;
      }

      .poly-section-nav-wrapper, .poly-page-link {
        @extend .animate__animated, .animate__delay-2s, .animate__fast;
        &:nth-child(odd) {
          @extend .animate__fadeInLeft;
        }
        &:nth-child(even) {
          @extend .animate__fadeInRight;
        }
      }

      .poly-taxonomy-nav-wrapper {
        @extend .animate__animated, .animate__delay-3s, .animate__fadeInUp, .animate__faster;
      }

      

      gap: 0.75rem;

      .poly-taxonomy-nav-wrapper {
        @extend .is-parent;
      }
      .poly-taxonomy-nav {
        @extend .is-parent, .is-vertical;
        gap: 0.75rem;
      }
      .poly-navigation-title {
        @extend .title, .is-4;
        width: 100%;
        display: block;
      }
      .poly-navigation-description {
        @extend .subtitle, .is-5;
        width: 100%;
        display: block;
      }
      .poly-taxonomy-term-link {
        color: $link;
      }
      
      .poly-taxonomy-title {
        display: contents;
        .poly-content {
          @extend .dropdown-trigger, .tile, .is-child, .box;
          width: 100%;
          @include until($desktop) {
            @include from($tablet) {
              min-width: 25vw;
            }
          }
          @include from($desktop) {
            @include until($widescreen) {
              min-width: 20vw;
            }
          }
          .button-arrow {
            @include arrow($link);
            right: 1rem;
          }
        }
      }
    }

    .poly-content {
      @extend .content;
    }

    .poly-section-link,
    .poly-taxonomy-term-link,
    .poly-page-link,
    .poly-taxonomy-kind-link {
      @extend .poly-link-hover;
    }
  }
}
