.poly-navigation-blocks {
  @extend .container, .is-fluid;

  > section {
    .poly-nav {
      @extend .is-flex;

      @include until($tablet) {
        flex-direction: column;
      }
      &,
      .poly-taxonomy-nav-wrapper,
      .poly-taxonomy-nav,
      .poly-section-link,
      .poly-taxonomy-term-link,
      .poly-page-link,
      .poly-taxonomy-extra-wrapper {
        @extend .tile;
      }
      @extend .is-ancestor;
      flex-wrap: wrap;
      .poly-section-nav-wrapper {
        display: contents;
        @include until($tablet) {
          display: flex;
          flex-direction: column;
          &:not(:hover):not(:focus) {
            .poly-taxonomy-nav {
              margin-top: -100vh;
              display: none;
            }
          }
          .poly-taxonomy-nav {
            @include transition(
              $props: (
                margin,
              ),
              $multiplier: 2.5
            );
            &:hover, &:focus {
              margin-top: 0;
              transition-delay: 0;
            }
          }
          .poly-taxonomy-nav-wrapper {
            padding: 0;
          }
        }
      }
      .poly-section-link,
      .poly-taxonomy-term-link,
      .poly-page-link {
        @extend .is-child, .box;
        @include until($desktop) {
          @include from($tablet) {
            min-width: 25vw;
          }
        }
        @include from($desktop) {
          @include until($widescreen) {
            min-width: 20vw;
          }
          padding: 0.75rem;
        }
      }

      gap: .75rem;


      .poly-taxonomy-nav-wrapper {
        @extend .is-parent;
      }
      .poly-taxonomy-nav {
        @extend .is-parent, .is-vertical;
      }
      .poly-navigation-title {
        @extend .title, .is-3;
        width: 100%;
        display: block;
      }
      .poly-navigation-description {
        @extend .subtitle, .is-4;
        width: 100%;
        display: block;
      }
      .poly-taxonomy-term-link {
        color: $link;
      }
      .poly-taxonomy-extra-wrapper {
        @extend .is-parent;
        @extend .dropdown, .is-hoverable;
        @extend .p-0;
        width: 100%;
      }
      .poly-taxonomy-extra-menu {
        @extend .dropdown-menu;
        min-width: 100%;
        @include until($desktop) {
          @include from($tablet) {
            margin-top: -2rem !important;
          }
        }
      }
      .poly-taxonomy-extra {
        @extend .dropdown-content;
        .poly-link {
          @extend .dropdown-item;
          display: block;
        }
      }
      .poly-taxonomy-title {
        display: contents;
        .poly-link,
        .poly-content {
          @extend .dropdown-trigger, .tile, .is-child, .box;
          width: 100%;
          @include until($desktop) {
            @include from($tablet) {
              min-width: 25vw;
            }
          }
          @include from($desktop) {
            @include until($widescreen) {
              min-width: 20vw;
            }
          }
          .button-arrow {
            @include arrow($link);
            right: 1rem;
          }
        }
      }
    }

    .poly-content {
      @extend .content;
    }

    .poly-section-link,
    .poly-taxonomy-term-link,
    .poly-page-link,
    .poly-link {
      @extend .poly-link-hover;
    }
  }
}
