.poly-section-aside,
.poly-term-aside,
.poly-kind-aside,
.poly-page-aside {
  
  @extend .is-flex, .is-flex-direction-column, .is-justify-content-space-between;

  .poly-container {
    flex-basis: unset;
  }

  .poly-page-nav {
    @extend .is-flex-shrink-0, .mb-0;  
    @extend .is-flex, .is-flex-direction-column, .is-align-items-stretch;
    .poly-taxonomy-kind-link {
      @extend .has-text-centered, .mb-1;
    }
    .poly-pair-nav + .poly-taxonomy-kind-link {
      @extend .mt-3;
    }
  }

  .poly-tx-nav {
    @extend .is-flex, .is-flex-direction-column, .is-align-items-stretch;
    .poly-taxonomy-term-link {
      @extend .py-2, .px-1, .has-text-right-desktop, .has-text-weight-bold;
      @extend .poly-link-hover-block;
      border-bottom: 1px solid $link-light;
    }
  }

  .poly-section-link,
  .poly-taxonomy-term-link,
  .poly-taxonomy-kind-link,
  .poly-page-link,
  .poly-out-link,
  .poly-link {
    @include hover((color, background-color, text-decoration-color)) {
      background-color: $link-light;
    }
  }
}