.poly-page-content {
  @extend .container, .is-container, .is-fullhd;
  min-height: calc(100vh - 13rem);

  > section {
    @extend .columns, .is-flex, .mb-4, .mt-6;
    @include until($desktop) {
      flex-direction: column;
    }
    > .poly-container {
      @extend .column;
      @include from($widescreen) {
        max-width: $widescreen;
        margin-left: auto;
        margin-right: 0;
        &:only-child {
          margin-right: auto;
        }
      }
    }
    .poly-page-aside {
      @extend .column, .is-full-tablet, .is-one-third-desktop, .is-one-fifth-fullhd;
      order: -1;
      @include until($desktop) {
        border-bottom: .1px solid $grey-light;
      }
      @include from($desktop){
        border-right: .1px solid $grey-light;
      }
    }
  }
}