.poly-page-content {
  @extend .container, .is-container;
  min-height: $poly-min-page-height;

  > section {
    @extend .columns, .is-flex, .mb-4, .mt-6;
    min-height: inherit;
    @include until($desktop) {
      flex-direction: column;
    }
    .poly-page-main {
      @extend .column;
      flex-grow: 1;
      &:only-child {
        @extend .container, .is-container, .is-fullhd;
      }
      &:not(:only-child) {
        @include from($desktop) {
          @include until($fullhd + $fullhd / 12 * 3) {
            padding-left: 3rem;
            & + .poly-page-aside {
              padding-right: 1rem;
            }
          }
        }
      }
    }
    .poly-page-main {
      &:not(:only-child) {
        @include from($fullhd) {
          max-width: $fullhd;
          margin-left: auto !important;
          margin-right: auto !important;
        }
      }
    }
    .poly-timeline-aside {
      order: -1;
      margin-bottom: $column-gap;
      border-bottom: 0.1px solid $grey-light;
    }
    .poly-section-aside,
    .poly-term-aside,
    .poly-kind-aside {
      order: -1;
      @include until($desktop) {
        border-bottom: 0.1px solid $grey-light;
        margin-bottom: $column-gap;
      }
    }
    .poly-page-aside {
      @include until($desktop) {
        border-top: 0.1px solid $grey-light;
        margin-top: $column-gap;
      }
    }

    .poly-timeline-aside {
      @extend .column, .is-full;
    }
    .poly-section-aside,
    .poly-term-aside,
    .poly-kind-aside,
    .poly-page-aside {
      @extend .column,
        .is-full-tablet,
        .is-one-third-desktop,
        .is-one-third-widescreen,
        .is-3-fullhd;
      @include from($desktop) {
        order: -1;
        border-right: 0.1px solid $grey-light;
      }
      &:only-child {
        @extend .is-full, .is-flex-grow-1;
        border: none !important;
      }
    }
  }
}
