.poly-sections-content {
  @extend .poly-page-content, .is-container, .is-fullhd;

  > section > .poly-container {
    @extend .columns, .is-multiline, .is-mobile, .is-centered;

    .poly-page-link, 
    .poly-section-link {
      @extend .column;
      &.poly-pop {
        @extend .is-full-mobile, .is-two-thirds-tablet, .is-four-fifths-desktop;
      }
      &.poly-block-link {
        @extend .is-full, .mt-4;
        flex-basis: 100%;
        .poly-content {
          p {
            color: $text !important;
          }
        }
        &.poly-pop {
          @extend .is-full, .mt-4;
          .poly-hero-block {
            @extend .is-medium;
            @include until($desktop) {
              min-height: 40vh;
            }
          }
        }

        &:not(:has(+ .poly-block-link)) {
          @extend .mb-4;
          &::after{
            @extend hr;
            position: absolute;
            bottom: -1.5rem;
            left:0;
            width: 100%;
            display: block;
            content: "";
          }
        }

        @include hover() {
          background-color: $link-light;
          .poly-hero-block {
            .title {
              text-decoration: underline;
              color: $link !important;
            }
          }
          &::after {
            border-bottom-color: $link !important;
          }
        }
      }
      @include hover() {
        .poly-hero-card {
          background-color: $link-light;
          background-image: none;
          &, * {
            color: $link !important;
          }
        }
      }

      .poly-hero-card {
        @extend .is-hoverable;
        height: 100%;
      }
    }

    .poly-section-link, .poly-page-link {
      @extend .is-one-third-tablet, .is-full-mobile,.is-two-fifths-desktop;
    }

    hr {
      @extend .column, .is-12;
      padding: 0 !important;
    }

  }
}