.poly-tile {
  display: block;
  
  --animate-delay: calc(var(--animate-duration) / 4);

  &:nth-child(n + 2) {
    @extend .animate__delay-1s;
    &.poly-tile-layout-contents {
      .title {
        @extend .animate__delay-1s;
      }
    }
  }

  @for $i from 1 through 12 {
    &:nth-child(#{$i + 1}n) {
      --animate-delay: calc(var(--animate-duration) / 4 * #{$i});
    }
  }

  

  &.poly-tile-layout-default,
  &.poly-tile-layout-hero,
  &.poly-tile-layout-banner {
    padding: calc($column-gap + $poly-grid-pop) !important;
    @extend .animate__animated, .animate__bounceIn;
  }

  &.poly-tile-layout-block,
  &.poly-tile-layout-contents {
    .poly-hero-block {
      padding: calc($column-gap + $poly-grid-pop) !important;
    }

    &:first-child {
      margin-top: $column-gap;
    }
  }

  &.poly-tile-layout-block {
    @extend .animate__animated, .animate__fadeInRight;
    & + .poly-tile-layout-block,
    & + .poly-tile-layout-contents {
      &::before {
        @extend hr;
        content: "";
        margin: 0 $poly-grid-pop;
      }
    }
  }

  &.poly-tile-layout-contents {
    .title {
      @extend .animate__animated, .animate__fadeInRight;
    }
    & + .poly-tile-layout-block {
      &::before {
        @extend hr;
        content: "";
        margin: 0 $poly-grid-pop;
      }
    }
  }

  &.poly-pop {
    @extend .animate__slow;
    &.poly-tile-layout-block,
    &.poly-tile-layout-contents {
      .poly-hero-block {
        padding-top: calc($column-gap + $poly-grid-pop * 4) !important;
        padding-bottom: calc($column-gap + $poly-grid-pop * 4) !important;
      }
    }

    &.poly-tile-layout-default,
    &.poly-tile-layout-hero,
    &.poly-tile-layout-banner {
      padding: $column-gap !important;
      .poly-hero-card .poly-content {
        padding: calc($card-content-padding + $poly-grid-pop) !important;
      }
      .poly-hero-card .poly-card-image {
        flex-basis: calc(50% + $poly-grid-pop);
        & + .poly-content {
          padding-left: $column-gap !important;
        }
      }
    }
  }

  > * {
    min-height: 100%;
    .poly-content{
      @extend .is-flex, .is-flex-direction-column, .is-justify-content-space-between;
    }
  }
}