@use "sass:list";

@mixin backgrounds($layers: ()) {
  background-image: list.append(
    $layers,
    var(--poly-background-fallback),
    $separator: comma
  );

  @include mobile() {
    background-image: list.append(
      $layers,
      var(--poly-background-sm),
      $separator: comma
    );
  }

  @include tablet() {
    background-image: list.append(
      $layers,
      var(--poly-background-tablet),
      $separator: comma
    );
  }
  @include desktop() {
    background-image: list.append(
      $layers,
      var(--poly-background-desktop),
      $separator: comma
    );
  }
  @include widescreen() {
    background-image: list.append(
      $layers,
      var(--poly-background-widescreen),
      $separator: comma
    );
  }
  @include fullhd() {
    background-image: list.append(
      $layers,
      var(--poly-background-fullhd),
      $separator: comma
    );
  }
}

@mixin transition($props, $multiplier: 1) {
  @media not (prefers-reduced-motion) {
    transition-property: $props;
    transition-duration: $poly-ui-transition-time * $multiplier;
    transition-timing-function: $poly-ui-transition-fn;
  }
}

@mixin hover(
  $transition-props: (
    box-shadow,
    color,
    background-color,
  ),
  $multiplier: 1
) {
  &,
  * {
    @include transition($props: $transition-props, $multiplier: $multiplier);
  }
  &:not(.poly-active-link):hover {
    @content;
  }
}
