@mixin backgrounds() {
  background-image: var(--background-sm);
      
  @include from($tablet) {
    background-image: var(--background-tablet);
  }
  @include from($desktop) {
    background-image: var(--background-desktop);
  }
  @include from($widescreen) {
    background-image: var(--background-widescreen);
  }
  @include from($fullhd) {
    background-image: var(--background-fullhd);
  }
}

@mixin transition($props, $multiplier: 1) {
  @media not (prefers-reduced-motion) {
    transition-property: $props;
    transition-duration: $poly-ui-transition-time * $multiplier;
    transition-timing-function: $poly-ui-transition-fn;
  }
}

@mixin hover($transition-props: (box-shadow, color, background-color)) {
  &, * {
    @include transition($props: $transition-props)
  }
  &:hover {
    @content;
  }
}