@use "sass:map";
@use "sass:color";

$poly-config: () !default;

// poly variables;
$poly-primary: map.get($poly-config, "primary-color") or #7257bc !default;
$poly-font-family: map.get($poly-config, "font-family") or "AR One Sans",
  sans-serif !default;
$poly-ui-transition-time: map.get($poly-config, "ui-transition-time") or 250ms !default;
$poly-ui-transition-fn: map.get($poly-config, "ui-transition-fn") or ease-out !default;

// poly derived variables
$darkness: map.get($poly-config, "text-darkness") or 90%;
$saturation: map.get($poly-config, "text-saturation") or 10%;
$poly-text-color: map.get($poly-config, "text-color") or color.change(
  color.invert($poly-primary),
  $saturation: $saturation,
  $lightness: 100% - $darkness
);

$poly-mono-range: map.get($poly-config, "mono-range") or 30;
$poly-link: map.get($poly-config, "link-color") or color.adjust($poly-primary, $hue: -1 * $poly-mono-range, $blackness: 10%);
$poly-info: map.get($poly-config, "info-color") or color.adjust($poly-primary, $hue: $poly-mono-range);

$lightness: map.get($poly-config, "background-lightness") or 99%;
$saturation: map.get($poly-config, "background-saturation") or 5%;
$poly-background: map.get($poly-config, "background-color") or color.change(
  color.invert($poly-primary),
  $lightness: $lightness,
  $saturation: $saturation,
);


// Update Bulma's global defaults to poly defaults;
$family-primary: $poly-font-family;
$text: $poly-text-color;
$primary: $poly-primary;
$scheme-main: $poly-background;
$scheme-main-bis: color.adjust($poly-background, $lightness: -2%);
$scheme-main-ter: color.adjust($poly-background, $lightness: -4%);
$info: $poly-info;
$link: $poly-link;
$box-link-hover-shadow: 0 0.5em 1em -0.125em rgba($poly-text-color, 0.15),
  0 0 0 1px $link;
$modal-content-width: 80vw;
