@import "./polymathic";

@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/grid/tiles.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/dropdown.sass";

$muted-bg: rgba(
  $color: $body-background-color,
  $alpha: 0.72,
);

.hero-head {
  .navbar {
    @include until($desktop) {
      box-shadow: 0 0.01rem 0.125rem darken($muted-bg, 50%);
      position: fixed;
      background-color: $muted-bg;
      width: 100%;
    }
  }
}

.hero-body.poly-with-image {
  background-image: var(--background-sm);

  @include from($tablet) {
    background-image: var(--background-tablet);
  }
  @include from($desktop) {
    background-image: var(--background-desktop);
  }
  @include from($widescreen) {
    background-image: var(--background-widescreen);
  }
  @include from($fullhd) {
    background-image: var(--background-fullhd);
  }

  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  padding: 0;

  .poly-content {
    width: 100%;
    background-color: $muted-bg;
    align-self: end;
    flex-direction: column;
    align-items: start;
  }
}

.poly-navigation-blocks {
  section {
    .poly-nav {
      @extend .is-ancestor;
      flex-wrap: wrap;
      &,
      .poly-taxonomy-nav-wrapper,
      .poly-taxonomy-nav,
      .poly-section-link,
      .poly-taxonomy-term-link,
      .poly-page-link,
      .poly-taxonomy-extra-wrapper {
        @extend .tile;
      }
      .poly-section-link,
      .poly-taxonomy-term-link,
      .poly-page-link {
        @extend .is-child, .box;
        @include until($desktop) {
          @include from($tablet) {
            min-width: 25vw;
            margin-bottom: 2rem !important;
          }
        }
        @include from($desktop) {
          @include until($widescreen) {
            min-width: 20vw;
            margin-bottom: 1rem !important;
          }
          padding: 0.75rem;
        }
      }
      .poly-taxonomy-nav-wrapper {
        @extend .is-parent;
      }
      .poly-taxonomy-nav {
        @extend .is-parent, .is-vertical;
      }
      .poly-navigation-title {
        @extend .title, .is-3;
        width: 100%;
        display: block;
      }
      .poly-navigation-description {
        @extend .subtitle, .is-4;
        width: 100%;
        display: block;
      }
      .poly-taxonomy-term-link {
        color: $primary;
      }
      .poly-taxonomy-extra-wrapper {
        @extend .is-parent;
        @extend .dropdown, .is-hoverable;
        @extend .p-0;
        width: 100%;
      }
      .poly-taxonomy-extra-menu {
        @extend .dropdown-menu;
        min-width: 100%;
        @include until($desktop) {
          @include from($tablet) {
            margin-top: -2rem !important;
          }
        }
      }
      .poly-taxonomy-extra {
        @extend .dropdown-content;
        .poly-link {
          @extend .dropdown-item;
          display: block;
        }
      }
      .poly-taxonomy-title {
        @extend .dropdown-trigger, .tile;
        width: 100%;
        @include until($desktop) {
          @include from($tablet) {
            min-width: 25vw;
            margin-bottom: 2rem !important;
          }
        }
        @include from($desktop) {
          @include until($widescreen) {
            min-width: 20vw;
            margin-bottom: 1rem !important;
          }
        }
        .button {
          @extend .box, .has-text-primary, .pr-6;
          flex-grow: 1;
          text-align: left;
          height: auto;
          @include from($desktop) {
            padding: 0.75rem;
          }
          .button-arrow {
            @include arrow($primary);
            right: 1rem;
          }
        }
      }
    }
  }
}

.poly-navigation-footer {
  background-color: darken($muted-bg, 7%);
  .poly-nav {
    @extend .columns, .is-tablet;
  }
  .poly-taxonomy-nav-wrapper {
    @extend .column, .p-0;
    display: flex;
    flex-direction: column;
  }
  .poly-section-link,
  .poly-page-link {
    display: contents;
    .content {
      display: contents;
      @include from($tablet) {
        text-align: right;
      }
    }
  }
  .poly-taxonomy-nav {
    display: contents;
  }
  .poly-navigation-title {
    @extend .column;
    height: fit-content;
    flex-grow: 0;
    order: 0;
    &:hover {
      background-color: $primary;
    }
  }
  .poly-taxonomy-term-link {
    @extend .p-3;
  }
  .poly-navigation-description,
  .poly-taxonomy-extra-wrapper {
    display: none;
  }

  .poly-outlink-footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .poly-out-link {
    @extend .py-2;
    @include until($tablet) {
      width: 100%;
    }
  }
}
