@import "./variables";
$family-sans-serif: $poly-font-family-print;
$body-size: $poly-body-size-print;

@import "../node_modules/normalize-scss/sass/normalize";
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../node_modules/bulma/sass/utilities/derived-variables.sass";
@import "../node_modules/bulma/sass/base/generic.sass";
@import "../node_modules/bulma/sass/helpers/typography.sass";
@import "../node_modules/bulma/sass/helpers/spacing.sass";
@import "../node_modules/bulma/sass/helpers/flexbox.sass";
@import "../node_modules/bulma/sass/helpers/visibility.sass";
@import "../node_modules/bulma/sass/helpers/color.sass";
@import "../node_modules/bulma/sass/elements/title.sass";

.poly-load-style {
  visibility: visible !important;
}

@for $i from 1 through 6 {
  h#{$i} {
    @extend .title, .is-#{$i + 1};
    @extend .mt-0, .mb-#{7-$i};
    @if $i < 6 {
      & ~ h#{$i + 1} {
        @extend .subtitle;
      }
    }
  }
}

p {
  @extend .content;
}

blockquote {
  @extend .p-2, .m-0, .mx-auto;
  width: max-content;
  background-color: $grey-lighter;
  border-left: 1px solid $grey;
}

.poly-header,
.poly-navigation-footer .poly-navigation-container,
.poly-outlink-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  nav,
  .poly-section-nav-wrapper {
    display: contents;
    .poly-navigation-description {
      display: none;
    }
  }
}

.poly-logo-link {
  @extend .is-flex;
  img {
    max-height: 2em;
    width: auto;
  }
}

.poly-breadcrumbs {
  ul {
    @extend .is-flex;
    list-style: none;
    li {
      @extend .ml-3;
      position: relative;
      &:not(:first-child)::before {
        position: absolute;
        content: "/";
        left: -.5rem;
      }
    }
  }
}

.poly-header {
  a:not(.poly-active-link, .poly-logo-link) {
    display: none;
  }
  .poly-active-link {
    @extend .title, .is-3, .subtitle, .has-text-primary;
  }
  .poly-logo-link {
    @extend .has-text-primary;
    * {
      color: inherit;
    }
  }
  border-bottom: 1px solid $primary-light;
}

.poly-navigation-footer {
  border-top: 1px solid $primary-light;
}

.poly-navigation-footer .poly-navigation-container,
.poly-outlink-footer {
  margin-top: 0.75rem;
  a {
    flex-basis: 100%;
    * {
      display: inline;
    }
  }
  a::after {
    content: attr(href);
    text-decoration: underline;
    text-decoration-color: $grey-light;
    display: inline;
    margin-left: 0.25rem;
  }
}

.poly-page-content {
  @extend .mb-3;
  > section {
    display: flex;
    flex-direction: column;
    .poly-section-aside,
    .poly-term-aside,
    .poly-kind-aside {
      order: -1;
    }
    .poly-section-aside,
    .poly-term-aside,
    .poly-kind-aside,
    .poly-page-aside {
      nav {
        @extend .is-flex, .is-justify-content-space-between, .is-flex-wrap-wrap;
      }
    }
  }
}

.poly-grid {
  display: flex;
  flex-wrap: wrap;

  .poly-tile {
    flex-basis: 25%;
    &.poly-tile-layout-block,
    &.poly-tile-layout-contents {
      flex-basis: 100%;
      flex-shrink: 0;
    }
  }

  .poly-group-footer,
  .poly-group-title {
    flex-basis: 100%;
  }
  .poly-group-title {
    @extend .title, .subtitle, .is-size-5;
  }
  .poly-group-footer {
    text-align: right;
  }
}

.poly-hero-card,
.poly-asset-card {
  border: 1px solid $scheme-invert-ter;
  .poly-content {
    @extend .p-2;
    .title {
      @extend .mt-0;
      &:only-child {
        @extend .mb-0;
      }
    }
  }
  .poly-image {
    @extend .m-0;
  }
}

.poly-navigation-blocks {
  @extend .my-3;

  border-bottom: 1px solid $primary;

  .poly-nav {
    @extend .is-flex, .is-flex-wrap-wrap, .is-align-content-stretch;
    .poly-nav-section {
      display: contents;
    }
    a {
      flex-basis: 50%;
      flex-shrink: 1;
      position: relative;
      &::after {
        content: attr(href);
        text-decoration: underline;
        text-decoration-color: $grey-light;
        display: inline;
        position: absolute;
        bottom: 2px;
        left: 5px;
      }
    }
  }
}

.poly-hero {
  .title {
    color: $primary-dark;
  }
  .subtitle {
    color: $primary;
  }
  border-bottom: 2px solid $primary;
}

.poly-tile {
  > * {
    min-height: 100%;
  }
}

.poly-pager {
  @extend .is-flex, .mt-3;
  flex-basis: 100%;
  width: 100%;
  > a {
    @extend .mr-1;
  }
  .pagination-list {
    @extend .is-flex, .m-0;
    li {
      display: contents;
      &:not(:first-child):not(:last-child) {
        .pagination-link:not(.is-current) {
          @extend .is-hidden;
        }
      }
      &:not(:first-child) {
        .pagination-link.is-current {
          &::before {
            content: " ...";
          }
        }
      }
      &:not(:last-child) {
        .pagination-link.is-current {
          &::after {
            content: "... ";
          }
        }
      }
      .pagination-link {
        &.is-current {
          @extend .has-text-weight-bold;
        }
      }
    }
  }
}

.modal {
  .modal-close {
    @extend .is-hidden;
  }
  img {
    &::after {
      content: attr(alt);
    }
  }
}

.poly-with-image {
  background-image: var(--poly-background-desktop);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.control {
  > *,
  select {
    width: 100%;
  }
}
.field.is-grouped {
  display: flex;
  justify-content: space-evenly;
  p {
    width: auto;
  }
}

body {
  font-family: $poly-font-family-print;
  color: $black;
  font-size: $body-size;
  box-sizing: border-box;
  a {
    color: $black;
    text-decoration: none;
  }
}

code {
  word-wrap: break-word;
  white-space: break-spaces;
}

figure {
  @extend .mx-1;
}
