{% import "macros/util.html" as util %}
{% import "macros/preview.html" as preview %}
{% import "macros/brand.html" as brand %}
{% import "macros/navigation.html" as navigation %}
{% import "macros/footer.html" as footer %}

{% for page in section.pages -%}
  {{preview::macro(entry=page, parent_section=section, type="page")}}
{% else -%}
  {% if paginator.pages is defined -%}
    {% for page in paginator.pages -%}
      {{preview::macro(entry=page, parent_section=section, type="page")}}
    {% endfor -%}
    {{util::pager(pagination=paginator)}}
  {% endif -%}
{% endfor %}