<div class="poly-container-block" style="min-width: 80%">
  <article class="poly-message">
    <div class="message-header">
      <p>Welcome to Zola with polymathic!</p>
    </div>
    <div class="message-body">
      <div class="poly-content">
        <p>Start by adding your own <code>content/_index.md</code></p>
        <br/>
        <pre>
          <code>
+++
title="My home page" # title is the minimum required property for content/_index.md
description="Home page description"
+++

## My content

Hello there
          </code>
        </pre>
        <p>Here's the read me <a href="https://github.com/anvlkv/polymathic/blob/main/README.md">for polymathic</a>, 
        <br/>
        and <a href="https://www.getzola.org/documentation/getting-started/overview/">one for Zola</a>.</p>
      </div>
    </div>
  </article>
</div>