{% import "macros/util.html" as util %}
{% import "macros/preview.html" as preview %}
{% import "macros/brand.html" as brand %}
{% import "macros/navigation.html" as navigation %}
{% import "macros/footer.html" as footer %}


<article class="poly-grid">
  {% set_global rendered_pages = []  -%}
  {% if config.extra.poly.menu_order  -%}
    {% for nav in config.extra.poly.menu_order  -%}
      {% if nav is ending_with("_index.md") -%}
        {% set section = get_section(path=nav, metadata_only=true)  -%}
        {% if section.extra.poly.use_taxonomies and section.extra.poly.use_taxonomies is containing(taxonomy.name)  -%} 
          {% set_global rendered_count = 0  -%}
          {% set pages = term.pages  -%}
          {% if paginator  -%}
            {% set pages = paginator.pages  -%}
          {% endif  -%}
          {% set sort_by = util::get_taxonomy_term_sort_by(kind=taxonomy.name, term=term.name) | trim  -%}
          {% set pages = pages | sort(attribute=sort_by)  -%}
          {% set is_reverse = util::get_taxonomy_term_reverse(kind=taxonomy.name, term=term.name) | trim == "true"  -%}
          {% if is_reverse %}
            {% set pages = pages | reverse -%}
          {% endif %}
          {% for page in pages  -%}
            {% if page.ancestors is containing(section.relative_path) and rendered_pages is not containing(page.path)  -%}
              {{preview::macro(entry=page, parent_section=section, type="page")}}
              {% set_global rendered_count = rendered_count + 1  -%}
              {% set_global rendered_pages = rendered_pages | concat(with=[page.path])  -%}
            {% endif  -%}
          {% endfor  -%}
          {% if rendered_count > 0  -%}
          <div class="poly-group-footer">
            {% set parent = section.ancestors | last -%}
            {% if parent -%}
              {% set parent = get_section(path=parent, metadata_only=true) -%}
            {% endif -%}
            {{preview::macro(entry=section, type="section", plain=true, parent_section=parent)}}
            <hr/>
          </div>
          {% endif  -%}
        {% endif  -%}
      {% endif  -%}
    {% endfor  -%}
  {% endif  -%}
  
  {% set pages = term.pages  -%}
  {% if paginator  -%}
    {% set pages = paginator.pages  -%}
  {% endif  -%}
  {% set sort_by = util::get_taxonomy_term_sort_by(kind=taxonomy.name, term=term.name) | trim  -%}
  {% set pages = pages | sort(attribute=sort_by)  -%}
  {% set is_reverse = util::get_taxonomy_term_reverse(kind=taxonomy.name, term=term.name) | trim == "true"  -%}
  {% if is_reverse %}
    {% set pages = pages | reverse -%}
  {% endif %}
  {% for page in pages  -%}
    {% if rendered_pages is not containing(page.path) -%}
      {% set page_section = get_section(path=page.ancestors | last, metadata_only=true)  -%}
      {{preview::macro(entry=page, parent_section=page_section, type="page")}}
      {% set_global rendered_pages = rendered_pages | concat(with=[page.path])  -%}
    {% endif  -%}
  {% endfor  -%}
  {% if paginator and paginator.number_pagers > 1  -%}
    {{util::pager(pagination=paginator)}}
  {% endif  -%}
</article>