{% import "macros/util.html" as util %}
{% import "macros/preview.html" as preview %}
{% import "macros/brand.html" as brand %}
{% import "macros/navigation.html" as navigation %}
{% import "macros/footer.html" as footer %}


<aside class="poly-term-aside">
  <article class="poly-container">
    {% block aside_content %}
      {% set term_content = util::get_taxonomy_term_content(kind=taxonomy.name, term=term.name) | trim %}
      {% if term_content | length > 0 %} 
        {{term_content | safe}}
      {% else %}
        {% set term_description = util::get_taxonomy_term_description(kind=taxonomy.name, term=term.name) | trim %}
        <h3>{{term.name}}</h3>
        {% if term_description | length > 0 %} 
          <p>{{term_description}}</p>
        {% endif %}
      {% endif %}
    {% endblock %}
    <hr/>
    {% block aside_nav %}
      <nav class="poly-tx-nav">
        {{preview::macro_tx(entry=taxonomy, type="kind")}}
      </nav>
    {% endblock %}
  </article>
</aside>