{% import "macros/util.html" as util %}
{% import "macros/preview.html" as preview %}

{% macro navigation_links(rendered_terms_input, menu, recursively, nav_current_path, plain, depth=0, bulma_dropdown=false) %}
  {% set_global rendered_terms = rendered_terms_input -%}
  {% set_global shared_taxonomies = [] -%}
  {% for nav in menu -%}
    {% if nav is ending_with("_index.md") -%}
      {% set section = get_section(path=nav) -%}
      {% set parent = section.ancestors | last -%}
      {% if parent -%}
        {% set parent = get_section(path=parent, metadata_only=true) -%}
      {% endif -%}
      {% set_global contents = preview::macro(plain=plain, type="section", entry=section, parent_section=parent) -%}
      {% if bulma_dropdown %}
        {% set_global contents = contents~'<nav class="poly-navbar-dropdown">' -%}
      {% endif %}
      {% set_global entries_count = 1 %}
      {% if recursively == true %}
        {% set subs = navigation::navigation_links(rendered_terms_input=rendered_terms, menu=section.subsections, recursively=recursively, nav_current_path=nav_current_path, plain=plain, depth=depth + 1) -%}
        {% set_global contents = contents~subs -%}
        {% set_global entries_count = section.subsections | length + entries_count %}
      {% endif %}
      {% if section.extra.poly.use_taxonomies -%}
          {% for tx in section.extra.poly.use_taxonomies -%} 
            {% set taxonomy = get_taxonomy(kind=tx) -%}
            {% if taxonomy.items | length > 0 -%}
                {% set order = util::get_taxonomy_kind_order(kind=taxonomy.kind.name, terms=taxonomy.items | map(attribute="name")) | trim | split(pat=",") -%}
                {% for i in order -%}
                  {% set term = taxonomy.items[i] -%}
                  {% if rendered_terms is not containing(term.path) -%}
                    {% set_global has_tx = false -%}
                    {% for pg in term.pages -%}
                      {% set_global has_tx = has_tx or pg.ancestors is containing(section.relative_path) and pg.taxonomies[taxonomy.kind.name][0] == term.name -%}
                    {% endfor %}
                    {% if has_tx -%}
                      {% set entry = preview::macro_tx(type="term", entry=term, parent=taxonomy.kind, plain=plain) -%}
                      {% set_global contents = contents~entry -%}
                      {% set_global rendered_terms = rendered_terms | concat(with=[term.path]) -%}
                      {% set_global entries_count = entries_count + 1 %}
                    {% endif -%}
                  {% elif taxonomy.kind.render -%}
                    {% set_global shared_taxonomies = shared_taxonomies | concat(with=[taxonomy.kind]) -%}
                  {% endif -%}
                {% endfor -%}
            {% endif -%}
          {% endfor -%}
      {% endif -%}
      <nav class="poly-nav-section{% if entries_count == 1 %} poly-is-one{% endif %}" style="--poly-rows: {{(entries_count / 2) | int}};">
        {% if bulma_dropdown %}
          {% set_global contents = contents~'</nav>' -%}
        {% endif %}
        {{contents | safe}}
      </nav>
    {% else %}
      {% set page = get_page(path=nav) -%}
      {% set page_section = get_section(path=page.ancestors | last, metadata_only=true)  -%}
      <nav class="poly-nav-section poly-is-one">
        {{preview::macro(plain=plain, entry=page, parent_section=page_section, type="page")}}
      </nav>
    {% endif -%}
  {% endfor -%}
  {% set txs = shared_taxonomies | unique(attribute="name") %}
  {% if txs | length > 0 and depth == 0 %}
    <nav class="poly-nav-section{% if txs | length == 1 %} poly-is-one{% endif %}" style="--poly-rows: {{(entries_count / 2) | int}};">
      {% for tx in txs -%}
        {{preview::macro_tx(type="kind", entry=tx, plain=plain)}}
      {% endfor -%}
    </nav>
  {% endif %}
{% endmacro %}

{% macro macro(menu, recursively=false, id="navigation", plain=false, bulma_dropdown=false) %}
  <nav class="poly-nav" id="{{id}}">
    {% set nav_current_path = current_path | default(value="") -%}
    {{navigation::navigation_links(rendered_terms_input=[], menu=menu, recursively=recursively, nav_current_path=nav_current_path, plain=plain, bulma_dropdown=bulma_dropdown)}}
  </nav>
{% endmacro %}

{% macro next_previous(next=false, prev=false, next_title=false, prev_title=false, title="") %}
  {% if next or prev %}
    <nav class="poly-pair-nav">
      {% if prev %}
        <a class="poly-link nav-prev" href="{{prev}}" title="Previous: {{prev_title}}">Previous</a>
      {% endif %}
      <span class="nav-title">{{title}}</span>
      {% if next %}
        <a class="poly-link nav-next" href="{{next}}" title="Next: {{next_title}}">Next</a>
      {% endif %}
    </nav>
  {% endif %}
{% endmacro %}

{% macro breadcrumbs(links, titles) %}
  <nav class="poly-breadcrumbs" aria-label="breadcrumbs">
    <ul>
      {% for link in links %}
      {% if loop.last %}
        <li class="is-active"><a class="poly-link poly-active-link" aria-current="page">{{titles[loop.index0]}}</a></li>
      {% else %}
        <li><a class="poly-link" href="{{link}}">{{titles[loop.index0]}}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endmacro %}