{% import "macros/util.html" as util %}
{% import "macros/preview.html" as preview %}

{% macro navigation_links(rendered_terms_input, menu, recursively, nav_current_path, plain) %}
  {% set_global rendered_terms = rendered_terms_input -%}
  {% for nav in menu -%}
    {% if nav is ending_with("_index.md") -%}
      {% set section = get_section(path=nav) -%}
      {% set parent = section.ancestors | last -%}
      {% if parent -%}
        {% set parent = get_section(path=parent, metadata_only=true) -%}
      {% endif -%}
      {{preview::macro(plain=plain, type="section", entry=section, parent_section=parent)}}
      {% if recursively == true %}
        {{navigation::navigation_links(rendered_terms_input=rendered_terms, menu=section.subsections, recursively=recursively, nav_current_path=nav_current_path, plain=plain) }}
      {% endif %}
      {% if section.extra.poly.use_taxonomies -%}
          {% for tx in section.extra.poly.use_taxonomies -%} 
            {% set taxonomy = get_taxonomy(kind=tx) -%}
            {% if taxonomy.items | length > 0 -%}
                {% set_global taxonomy_secondary_terms = [] -%}
                {% set order = util::get_taxonomy_kind_order(kind=taxonomy.kind.name, terms=taxonomy.items | map(attribute="name")) | trim | split(pat=",") -%}
                {% for i in order -%}
                  {% set term = taxonomy.items[i] -%}
                  {% if rendered_terms is not containing(term.path) -%}
                    {% set_global has_tx = false -%}
                    {% for pg in term.pages -%}
                      {% set_global has_tx = pg.ancestors is containing(section.relative_path) or has_tx -%}
                    {% endfor %}
                    {% if has_tx -%}
                      {{preview::macro_tx(type="term", entry=term, parent=taxonomy.kind)}}
                      {% set_global rendered_terms = rendered_terms | concat(with=[term.path]) -%}
                    {% endif -%}
                  {% else -%}
                    {% set_global taxonomy_secondary_terms = taxonomy_secondary_terms | concat(with=[term]) -%}
                  {% endif -%}
                {% endfor -%}
                {% if taxonomy_secondary_terms | length > 0 and taxonomy.kind.render -%}
                  {{preview::macro_tx(type="kind", entry=taxonomy.kind)}}
                {% endif -%}
            {% endif -%}
          {% endfor -%}
      {% endif -%}
    {% else %}
      {% set page = get_page(path=nav) -%}
      {% set page_section = get_section(path=page.ancestors | last, metadata_only=true)  -%}
      {{preview::macro(plain=plain, entry=page, parent_section=page_section, type="page")}}
    {% endif -%}
  {% endfor -%}
{% endmacro %}

{% macro macro(menu, recursively=false, id="navigation", plain=false) %}
  <nav class="poly-nav">
    {% set nav_current_path = current_path | default(value="") -%}
    {{navigation::navigation_links(rendered_terms_input=[], menu=menu, recursively=recursively, nav_current_path=nav_current_path, plain=plain)}}
  </nav>
{% endmacro %}