{% import "macros/util.html" as util %}

{% macro macro(title, path, type, hero=false, description=false, block=false, banner=false, pop=false) %}
  {% set link_class = "" %}
  {% set class_name = "poly-hero-card" %}
  {% if block == true %}
    {% set class_name = "poly-hero-block" %}
    {% set link_class = "poly-block-link" %}
    {% if hero != false %}
      {% set banner = true %}
    {% endif %}
  {% endif %}
  {% if hero != false and banner == true %}
    {% set class_name = class_name~" poly-with-image" %}
  {% endif %}
  {% if pop == true %}
    {% set link_class = link_class~" poly-pop" %}
  {% endif %}
  <a {{util::link_attrs(type=type, href=path, title=description|default(value=title), current_url=current_path, class=link_class)}}
    {% if hero != false and banner == true %}
    style="{{util::background_image_vars(path=hero)}}"
    {% endif %}
  >
    <div class="{{class_name}}">
      {% if banner == false and hero != false %} 
        <div class="card-image">
          <figure class="poly-image is-4by3">
            <img {{util::img_src(
              src=hero, 
              ratio=4.0/3.0,
              breakpoints=["min-width: 769px", "min-width: 960px", "min-width: 1152px"],
              sizes=[200, 400, 600, 900],
            ) }} 
            alt="{{title}}"
            />
          </figure>
        </div>
      {% endif %}
      <div class="poly-content">
        <p class="title is-4 is-subtitle">{{ title }}</p>
        {% if description != false %}
          <p>{{ description }}</p>
        {% endif %}
      </div>
    </div>
  </a>
{% endmacro %}