{% macro poly_path(value, assets) %}
  {% set_global path = value -%}
  {% if value is not starting_with("/") and assets is defined -%}
    {% for asset in assets -%}
      {% if asset is ending_with("/"~value) -%}
        {% set_global path = asset -%}
      {% endif -%}
    {% endfor -%}
  {% endif -%}
  {{ path }}
{% endmacro %}

{% macro background_image_vars(path) %}
  {% set image_sm = resize_image(path=path, width=769, height=769, op='fill', format='webp') -%}
  {% set image_tb = resize_image(path=path, width=769, op='fit_width', format='webp') -%}
  {% set image_ds = resize_image(path=path, width=960, op='fit_width', format='webp') -%}
  {% set image_wd = resize_image(path=path, width=1152, op='fit_width', format='webp') -%}
  {% set image_fd = resize_image(path=path, width=1344, op='fit_width', format='webp') -%}
  --poly-background-widescreen: url({{image_wd.url}});
  --poly-background-fullhd: url({{image_fd.url}});
  --poly-background-desktop: url({{image_ds.url}});
  --poly-background-tablet: url({{image_tb.url}});
  --poly-background-sm: url({{image_sm.url}});
  --poly-background-fallback: url({{get_url(path=path)}});
{% endmacro  %}

{% macro debug(value) %} 
<code>
  <pre>
    {{ value | json_encode(pretty=true) }}
  </pre>
</code>
{% endmacro %}

{% macro content_meta(content, root_title=true) %}
  <title>{{ content.title }}{% if config.title  and root_title == true %} | {{config.title}}{% endif %}</title>
  <meta property="og:title" content="{{ content.title | default(value=config.title) }}" />
  <meta property="twitter:title" content="{{ content.title | default(value=config.title) }}" />
  {% if content.description or config.description -%}
    {% set description = content.description | default(value=config.description) -%}
    <meta name="description" content="{{ description  }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta name="twitter:description" content="{{description}}">
  {% endif -%}
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{current_url | default(value=config.base_url)}}" />
  <meta property="twitter:url" content="{{current_url | default(value=config.base_url)}}" />
  <meta property="twitter:domain" content="{{config.base_url | split(pat="://") | last }}">
  {% if content.extra.poly.hero -%}
    {% set path = util::poly_path(value=content.extra.poly.hero, assets=content.assets) | trim -%}
    {% set image_meta = get_image_metadata(path=path) -%}
    {% if image_meta.height > 630 or image_meta.width > 1200 -%} 
      {% set image = resize_image(path=path, width=1200, height=630, op='fill', format='webp') -%}
    {% else -%}
      {% set side = image_meta.width -%}
      {% if image_meta.width > image_meta.height -%}
        {% set side = image_meta.height -%}
      {% endif -%}
      {% set image = resize_image(path=path, width=side, height=side, op='fill', format='webp') -%}
    {% endif -%}
    <meta
      property="og:image"
      content="{{ image.url | safe }}"
    />
    <meta
      property="twitter:image"
      content="{{ image.url | safe }}"
    />
    <meta name="twitter:card" content="summary_large_image">
  {% elif config.extra.poly.og_image -%}
    <meta
      property="og:image"
      content="{{ get_url(path=config.extra.poly.og_image) | safe }}"
    />
    <meta
      property="twitter:image"
      content="{{ get_url(path=config.extra.poly.og_image) | safe }}"
    />
    <meta name="twitter:card" content="summary_large_image">
  {% else %}
    <meta name="twitter:card" content="summary">
  {% endif -%} 
{% endmacro %}

{% macro taxonomy_meta(tx, term=false, root_title=true) %}
  {% set title = util::get_taxonomy_kind_title(kind=tx.name) | trim -%}
  {% set description = util::get_taxonomy_kind_description(kind=tx.name, default=config.description | default(value="")) | trim -%}
  {% if term -%}
    {% set t_description = util::get_taxonomy_term_description(kind=tx.name, term=term.name) | trim %}
    {% if t_description | length > 0 %}
      {% set description = t_description %}
    {% endif %}
    {% set title = term.name %}
  {% endif %}
  <title>{{ title }}{% if config.title  and root_title == true %} | {{config.title}}{% endif %}</title>
  {% if description or config.description -%}
    <meta name="description" content="{{ description  }}" />
    <meta property="og:description" content="{{ description }}" />
  {% endif -%}
  <meta property="og:title" content="{{ title | default(value=config.title) }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{current_url | default(value=config.base_url)}}" />
  {% if config.extra.poly.og_image -%}
    <meta
      property="og:image"
      content="{{ get_url(path=config.extra.poly.og_image) | safe }}"
    />
  {% endif -%} 
{% endmacro %}

{% macro link_attrs(type=false, href, title=false, current_url=false, class=false) %}
  class="poly-{% if type %}{{type}}-{% endif %}link{% if current_url and current_url == href %} poly-active-link{% endif %}{% if class %} {{class}}{% endif %}"
  {% if current_url != href -%}
  href="{{href | safe}}"
  {% endif -%}
  {% if title -%}
  title="{{title}}"
  {% endif -%}
{% endmacro %}

{% macro img_src(src, sizes, breakpoints='max-width: 769px, max-width: 960px, max-width: 1152px, max-width: 1344px', ratio, lazy=false, quality=90) %}
  {% set breakpoints = breakpoints | split(pat=",")%}
  sizes="{% for size in sizes %}{% if breakpoints[loop.index0] and loop.last == false %}({{breakpoints[loop.index0]}}) {{size}}w,{% else %}{{size}}w{% endif %}{% endfor %}"
  srcset="{% for size in sizes %}{% set image = resize_image(path=src, width=size, height=size / ratio | int, op='fill', format='webp', quality=quality)%}{{image.url}} {{size}}w{% if loop.last == false%},{% endif %}{% endfor %}"
  src="{{src}}"
  {% if lazy %}
  loading="lazy"
  {% endif %}
{% endmacro %}

{% macro pager(pagination)%}
  <nav class="poly-pager is-rounded" role="navigation" aria-label="pagination">
    {% if pagination.previous -%}
      <a href="{{pagination.previous}}" class="pagination-previous">Previous page</a>
    {% endif -%}
    {% if pagination.next -%}
      <a href="{{pagination.next}}" class="pagination-next">Next page</a>
    {% endif -%}
    <ul class="pagination-list">
      {% for pg in range(start=1, end=pagination.number_pagers+1) -%}
        <li>
          <a href="{%if pg > 1%}{{pagination.base_url~pg}}{%else%}{{pagination.first}}{%endif%}" class="pagination-link{% if pg == pagination.current_index %} is-current{% endif %}" aria-label="Goto page {{pg}}">
            {{pg}}
          </a>
        </li>
      {% endfor -%}
    </ul>
  </nav>
{% endmacro %}

{% macro content_modals(assets) %}
  {% for asset in assets  -%}
    {% if asset is matching(".(png|jpeg|jpg|gif|webp)$") -%}
      {% set name = asset | split(pat="/") | last  -%}
      {% set alt = name | split(pat=".") | first | replace(from="_", to=" ") | title -%}
      <div class="poly-modal animate__animated animate__fadeIn" id="content-asset-modal-{{name | slugify}}">
        <div class="modal-background"></div>
        <div class="modal-content animate__animated animate__fadeInDown">
          {% set image_meta = get_image_metadata(path=asset)  -%}
          {% set portrait = image_meta.height > image_meta.width -%}
          <figure class="image{% if portrait %} poly-portrait{% endif %}">
            <img {{util::img_src(
              src=asset, 
              ratio=image_meta.width/image_meta.height,
              sizes=[769, 960, 1152, 1344],
              lazy=true,
              quality=100
            ) }} 
              alt="{{alt}}"
            />
          </figure>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
      </div>
    {% endif  -%}
  {% endfor  -%}
{% endmacro %}

{% macro get_taxonomy_kind_title(kind) %}
  {% set tx_config = load_data(path=config.extra.poly.taxonomy_config_path, required=false, format=config.extra.poly.taxonomy_config_path | split(pat=".") | last ) -%}
  {% set kind_config = tx_config[kind] | default(value=false) -%}
  {% if kind_config == false -%}
    {{ kind | split(pat="_") | join(sep=" ") | title }}
  {% else -%}
    {{ kind_config.title }}
  {% endif -%}
{% endmacro %}

{% macro get_taxonomy_kind_description(kind, default="") -%}
  {% set tx_config = load_data(path=config.extra.poly.taxonomy_config_path, required=false, format=config.extra.poly.taxonomy_config_path | split(pat=".") | last ) -%}
  {% set kind_config = tx_config[kind] | default(value=false) -%}
  {% if kind_config -%}
    {{ kind_config.description | default(value=default) }}
  {% endif -%}
{% endmacro %}

{% macro get_taxonomy_kind_content(kind) %}
  {% set tx_config = load_data(path=config.extra.poly.taxonomy_config_path, required=false, format=config.extra.poly.taxonomy_config_path | split(pat=".") | last ) -%}
  {% set kind_config = tx_config[kind] | default(value=false) -%}
  {% if kind_config and kind_config.content is defined -%}
    {{ kind_config.content | markdown() | safe }}
  {% endif -%}
{% endmacro %}

{% macro get_taxonomy_kind_order(kind, terms) %}
  {% set tx_config = load_data(path=config.extra.poly.taxonomy_config_path, required=false, format=config.extra.poly.taxonomy_config_path | split(pat=".") | last ) -%}
  {% set kind_config = tx_config[kind] | default(value=false) -%}
  {% set_global order = [] -%}
  {% set_global left_over = [] -%}
  {% if kind_config and kind_config.terms is defined -%}
    {% set_global has_terms = [] -%}
    {% for t in kind_config.terms -%}
      {% for tt in terms -%}
        {% if t is string and t == tt or t is not string and t.title == tt  -%}
          {% if has_terms is containing(t) -%}
            {{throw(message="Ambiguous term config: "~t)}}
          {% endif -%}
          {% set_global order = order | concat(with=[loop.index0]) -%}
          {% set_global has_terms = has_terms | concat(with=[tt]) -%}
        {% endif -%}
      {% endfor -%}
    {% endfor -%}
    {% if has_terms | length != terms | length -%}
      {% for t in terms -%}
        {% if has_terms is not containing(t) -%}
          {% set_global left_over = left_over | concat(with=[loop.index0]) -%}
        {% endif -%}
      {% endfor -%}
    {% endif -%}
  {% else -%}
    {% for _ in terms -%}
      {% set_global left_over = left_over | concat(with=[loop.index0]) -%}
    {% endfor -%}
  {% endif -%}
  {{ order | concat(with=left_over) | join(sep=",")}}
{% endmacro %}

{% macro get_taxonomy_term_description(kind, term) %}
  {% set tx_config = load_data(path=config.extra.poly.taxonomy_config_path, required=false, format=config.extra.poly.taxonomy_config_path | split(pat=".") | last ) -%}
  {% set kind_config = tx_config[kind] | default(value=false) -%}
  {% if kind_config and kind_config.terms is defined -%}
    {% for t in kind_config.terms -%}
      {% if t is not string and t.title == term -%}
        {{t.description | default(value="")}}
      {% endif -%}
    {% endfor -%}
  {% endif -%}
{% endmacro %}

{% macro get_taxonomy_term_content(kind, term) %}
  {% set tx_config = load_data(path=config.extra.poly.taxonomy_config_path, required=false, format=config.extra.poly.taxonomy_config_path | split(pat=".") | last )  -%}
  {% set kind_config = tx_config[kind] | default(value=false)  -%}
  {% if kind_config and kind_config.terms is defined  -%}
    {% for t in kind_config.terms  -%}
      {% if t is not string and t.title == term and t.content is defined -%}
        {{t.content | markdown() | safe}}
      {% endif  -%}
    {% endfor  -%}
  {% endif  -%}
{% endmacro %}

{% macro get_taxonomy_term_sort_by(kind, term) %}
  {% set tx_config = load_data(path=config.extra.poly.taxonomy_config_path, required=false, format=config.extra.poly.taxonomy_config_path | split(pat=".") | last ) -%}
  {% set kind_config = tx_config[kind] | default(value=false) -%}
  {% set sort_by = "path" -%}
  {% if kind_config and kind_config.terms is defined -%}
    {% set_global override = kind_config.sort_by | default(value=sort_by) -%}
    {% for t in kind_config.terms -%}
      {% if t is not string and t.title == term and t.sort_by is defined -%}
        {% set_global override = t.sort_by -%}
      {% endif -%}
    {% endfor -%}
    {% set sort_by = override -%}
  {% endif -%}
  {{ sort_by }}
{% endmacro %}

{% macro get_taxonomy_term_reverse(kind, term) %}
  {% set tx_config = load_data(path=config.extra.poly.taxonomy_config_path, required=false, format=config.extra.poly.taxonomy_config_path | split(pat=".") | last ) -%}
  {% set kind_config = tx_config[kind] | default(value=false) -%}
  {% set reverse = false -%}
  {% if kind_config and kind_config.terms is defined -%}
    {% set_global override = kind_config.reverse | default(value=reverse) -%}
    {% for t in kind_config.terms -%}
      {% if t is not string and t.title == term and t.reverse is defined -%}
        {% set_global override = t.reverse -%}
      {% endif -%}
    {% endfor -%}
    {% set reverse = override -%}
  {% endif -%}
  {{ reverse }}
{% endmacro %}