{% import "macros.html" as macros %}

{% set alt = alt | default(value="") %}
{% set content = page | default(value=section) %}
{% set id = "content-asset-modal-"~image | slugify %}

<div class="poly-container-block" id="trigger-{{id}}">
  <a class="poly-asset-card">
    {% if image %}
      <div class="card-image">
        <figure class="image is-16by9">
          <img {{macros::img_src(
            src=macros::poly_path(value=image, assets=content.assets) | trim, 
            ratio=16.0/9.0,
            breakpoints=["min-width: 769px", "min-width: 960px", "min-width: 1152px"],
            sizes=[200, 400, 600, 900],
          ) }} 
           alt="{{alt}}">
        </figure>
      </div>
    {% endif %}
    <!-- TODO: Handle other asset types ... -->
    <div class="card-content">
      <div class="poly-content">
        {{body | markdown(inline=true) | safe}}
      </div>
    </div>
  </a>
</div>

=#PO@L!Y#==#$C^R*1!P+T#=
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const modal = document.querySelector('#{{id}}');
    const trigger = document.querySelector('#trigger-{{id}}');
    trigger.addEventListener('click', () => {
      modal.classList.add('is-active');
    });
    const closeTriggers = document.querySelectorAll('#{{id}} .modal-background, #{{id}} .modal-close');
    closeTriggers.forEach(trigger => {
      trigger.addEventListener('click', () => {
        modal.classList.remove('is-active');
      });
    })
    document.addEventListener('keydown', (event) => {
      if (event.code === 'Escape') {
        modal.classList.remove('is-active');
      }
    })
  })
</script>
=#$C^R*1!P+T#==#PO@L!Y#=

=#PO@L!Y#==#@M$O^D&@A%L!#=
<div class="modal" id="content-asset-modal-{{name | slugify}}">
  <div class="modal-background"></div>
  <div class="modal-content">
    {% if image %}
      {% set asset = macros::poly_path(value=image, assets=content.assets) | trim%}
      {% set image_meta = get_image_metadata(path=asset) %}
      {% if image_meta.width > image_meta.height %}
        <figure class="image is-3by2">
          <img {{macros::img_src(
            src=asset, 
            ratio=3.0/2.0,
            breakpoints=["min-width: 769px", "min-width: 960px", "min-width: 1152px"],
            sizes=[769, 960, 1152, 1344],
          ) }} 
            alt="{{alt}}"
          />
        </figure>
      {% else %}
        <figure class="image is-2by3">
          <img {{macros::img_src(
            src=asset, 
            ratio=2.0/3.0,
            breakpoints=["min-width: 769px", "min-width: 960px", "min-width: 1152px"],
            sizes=[769, 960, 1152, 1344],
          ) }}
            alt="{{alt}}" 
          />
        </figure>
      {% endif %}
    {% endif %}
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
=#@M$O^D&@A%L!#==#PO@L!Y#=