{% import "macros.html" as macros %}


{% set content = page | default(value=section) %}
{% set id = "content-asset-modal-"~image | slugify %}

<div class="poly-container-block">
  <a class="poly-asset-card js-modal-trigger" data-target="{{id}}" {% if image %} href="{{get_url(path=macros::poly_path(value=image, assets=content.assets)) | safe}}" {% endif %}>
    {% if image %}
      {% set alt = alt | default(value= image | split(pat=".") | first | replace(from="_", to=" ") | title ) %}
      <div class="card-image">
        <figure class="image is-16by9">
          <img {{macros::img_src(
            src=macros::poly_path(value=image, assets=content.assets) | trim, 
            ratio=16.0/9.0,
            breakpoints=["min-width: 200px", "min-width: 400px", "min-width: 600px"],
            sizes=[200, 400, 600, 900],
          ) }} 
           alt="{{alt}}">
        </figure>
      </div>
    {% endif %}
    <!-- TODO: Handle other asset types ... -->
    <div class="card-content">
      <div class="poly-content">
        {{body | markdown(inline=true) | safe}}
      </div>
    </div>
  </a>
</div>

