{% import "macros/util.html" as util %}
{% import "macros/navigation.html" as navigation %}
{% import "macros/preview.html" as preview %}
{% import "macros/footer.html" as footer %}
{% import "macros/brand.html" as brand %}
{% import "macros/toc.html" as toc_links %}
{% import "macros/timeline-entry.html" as timeline %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer" />
    <meta name="color-scheme" content="light dark" />
    
    {% block page_meta %} {% endblock %}

    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{current_url | default(value=config.base_url)}}" />

    
    {% block poly_load_style %}
      <style>
        .poly-load-style {
          visibility: hidden;
        }
        .is-hidden, .poly-modal:not(.is-active) {
          display: none;
        }
      </style>
    {% endblock %}

    {% block poly_app_config %}
      {% if config.extra.poly.font_url %}
        <style>
          @import url('{{config.extra.poly.font_url | safe}}');
        </style>
      {% endif %}

      {% if config.extra.poly.favicon %}
        {% for f in config.extra.poly.favicon %}
          {% if f.meta %}
            <meta name="{{f.name}}" content="{{f.content}}" />
          {% else %}
            <link
              {% if f.rel %}rel="{{f.rel}}"{% endif %}
              {% if f.type %}type="{{f.type}}"{% endif %}
              {% if f.size %}sizes="{{f.size}}"{% endif %}
              href="{{f.path}}"
            />
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if config.extra.poly.manifest %}
        <link rel="manifest" href="{{config.extra.poly.manifest}}" />
      {% endif %}

      {% if config.title %}
        <meta name="application-name" content="{{config.title}}" />
      {% endif %}
    {% endblock %}
    
    {% block page_style %}
      <link rel="stylesheet" media="screen and (prefers-color-scheme: light)" href="{{ get_url(path='polymathic.css') | safe }}" />
      <link rel="stylesheet" media="screen and (prefers-color-scheme: dark)" href="{{ get_url(path='polymathic-dark.css') | safe }}" />
    {% endblock %}
    {% block print_style %}
      <link rel="stylesheet" media="print" href="{{ get_url(path='print.css') | safe }}" />
    {% endblock %}
  </head>

  <body class="poly-load-style" style="--animate-duration: {{config.extra.poly.animate_duration}};
  --animate-delay: {{config.extra.poly.animate_delay}};
  --animate-repeat: {{config.extra.poly.animate_repeat}};">
    {% block content %} {% endblock %}
    {% block modals %} {% endblock %}
    {% block scripts %} 
      <script src="{{ get_url(path='polymathic.js') | safe }}"></script>
    {% endblock %}
  </body>
</html>
