<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer" />
    <meta name="color-scheme" content="light dark" />
    
    {% block page_meta %} {% endblock %}

    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{current_url | default(value=config.base_url)}}" />

    

    {% block page_style %}
      <link rel="stylesheet" href="{{ get_url(path='polymathic.css') | safe }}" />
    {% endblock %}

    {% for f in config.extra.poly.favicon %}
      <link
        rel="{{f.rel}}"
        type="{{f.type}}"
        sizes="{{f.size}}"
        href="{{f.path}}"
      />
    {% endfor %}
    {% if config.extra.poly.manifest %}
      <link rel="manifest" href="{{config.extra.poly.manifest}}" />
    {% endif %}
    <meta name="application-name" content="{{config.extra.poly.app_name | default(value='polymathic')}}" />
  </head>

  <body>
    {% block content %} {% endblock %}
    {% block modals %} {% endblock %}
    {% block scripts %} {% endblock %}
  </body>
</html>
