{% import "macros.html" as macros %}
{% import "navigation.html" as navigation %}
{% import "footer.html" as footer %}
{% extends "base.html" %} 


{% block page_meta %}

  {{ macros::content_meta(content=section) }}

{% endblock %}

{% block content %}

<div class="poly-hero">
  <section>
    {% if config.extra.poly.logo %}
    <header>
      <nav>
        <nav>
          {{macros::brand_bar()}}
        </nav>
      </nav>
    </header>
    {% endif %}
    <div
      class="poly-hero-body {%if section.extra.poly.hero %} poly-with-image{%endif%}"
      {%
      if
      section.extra.poly.hero
      %}
      style="{{macros::background_image_vars(path=macros::poly_path(value=section.extra.poly.hero, assets=section.assets) | trim)}}"
      {%
      endif
      %}
    >
    <div class="poly-content">
      <div class="section">
        <p class="title">{{section.title}}</h1>
        <p class="subtitle">{{section.description}}</p>
      </div>
    </div>
    </div>
  </section>
</div>

<div class="poly-navigation-blocks">
  <section>
    {{navigation::macro()}}
  </section>
</div>

<main class="poly-page-content">
  <section>
    <article class="poly-container">
      {{macros::poly_content(text=section.content) | safe}}
    </article>

  </section>
</main>

  {% block footer %}
    {{ footer::macro() }}
  {% endblock %}

{% endblock content %}

{% block modals %}
  {{macros::poly_modals(text=section.content)}}
{% endblock %}

{% block scripts %}
  {{super()}}
  {{macros::poly_scripts(text=section.content) | safe}}
{% endblock %}