{% extends "base.html" %} 

{% block content %}
  <header class="poly-header">
    {% block layout_header %}
      <nav class="navbar">
        {{brand::macro(menu_id="poly-layout-header", fallback="poly-layout-footer")}}
        <nav class="poly-navigation-container" id="poly-layout-header">
          {% if config.extra.poly.menu_order %}
            {{navigation::macro(menu=config.extra.poly.menu_order, id="poly-layout-header", plain=true, recursively=true, bulma_dropdown=true)}}
          {% endif %}
        </nav>
      </nav>
    {% endblock %}
  </header>
  <main class="poly-main">
    {% block layout_main %} {% endblock %}
  </main>
  {% block footer %}
    {{ footer::macro(id="poly-layout-footer") }}
  {% endblock %}
{% endblock %}