{% extends "base.html" %} 

{% block content %}
  <header class="poly-header {% if config.extra.poly.fluid_page %}is-fluid{% else %}is-fullhd{% endif %}">
    {% block layout_header %}
      <nav class="navbar">
        {{brand::macro(menu_id="poly-layout-header", fallback="poly-layout-footer")}}
        <nav class="poly-navigation-container" id="poly-layout-header">
          {% if config.extra.poly.menu_order %}
            {{navigation::macro(menu=config.extra.poly.menu_order, id="poly-layout-header", plain=true, recursively=true, bulma_dropdown=true)}}
          {% endif %}
        </nav>
      </nav>
    {% endblock layout_header %}
  </header>
  {% if config.extra.poly.breadcrumbs %}
    <header class="poly-breadcrumbs-header {% if config.extra.poly.fluid_page %}is-fluid{% else %}is-fullhd{% endif %}">
      {% block breadcrumbs %}{% endblock breadcrumbs %}
    </header>
  {% endif %}
  <main class="poly-layout-main {% if config.extra.poly.fluid_page %}is-fluid{% else %}is-fullhd{% endif %}">
    {% block layout_main %} {% endblock layout_main %}
  </main>
  {% block footer %}
    {% set class = "is-fullhd" %}
    {% if config.extra.poly.fluid_page %}
      {% set class = "is-fluid" %}
    {% endif %}
    {{ footer::macro(id="poly-layout-footer", class=class) }}
  {% endblock footer%}
{% endblock %}