{% import "macros.html" as macros %}

{% macro macro(id="navigation", menu) %}
{% set nav_current_path = current_path | default(value="") %}

<nav class="poly-nav">
  {% set_global rendered_terms = [] %}
  {% for nav in menu %}
    {% if nav is ending_with("_index.md")%}
      {% set section = get_section(path=nav) %}
      {% set is_arrowless = "is-arrowless" %}
      {% if section.extra.poly.use_taxonomies %} 
        {% set is_arrowless = false %}
      {% endif %}
      <div class="poly-section-nav-wrapper{% if is_arrowless == false %} has-dropdown is-hoverable{% endif %}">
        <a {{macros::link_attrs(type="section", href=section.path, title=section.title, current_url=nav_current_path, class=is_arrowless)}}>
          <div class="poly-content">
            <span class="poly-navigation-title">{{section.title}}</span>
            {% if section.description %}
            <span class="poly-navigation-description">{{section.description}}</span>
            {% endif %}
          </div>
        </a>
  
        {% if section.extra.poly.use_taxonomies %}
          <nav class="poly-taxonomy-nav-wrapper">
            {% for tx in section.extra.poly.use_taxonomies %} 
              {% set taxonomy = get_taxonomy(kind=tx) %}
              {% if taxonomy.items | length > 0 %}
                <nav class="poly-taxonomy-nav">
                  {% set_global taxonomy_secondary_terms = [] %}
                  {% for term in taxonomy.items %}
                    {% if rendered_terms is not containing(term.path)%}
                      {% set_global has_tx = false %}
                      {% for pg in term.pages %}
                        {% set_global has_tx = pg.ancestors is containing(section.relative_path) or has_tx %}
                      {% endfor %}
                      {% if has_tx %}
                        <a {{macros::link_attrs(type="taxonomy-term", href=term.path, title=term.name, current_url=nav_current_path)}}>{{term.name}}</a>
                        {% set_global rendered_terms = rendered_terms | concat(with=[term.path]) %}
                      {% endif %}
                    {% else %}
                      {% set_global taxonomy_secondary_terms = taxonomy_secondary_terms | concat(with=[term]) %}
                    {% endif %}
                  {% endfor %}
                  {% if taxonomy_secondary_terms | length > 0 and taxonomy.kind.render %}
                    {% set taxonomy_title = taxonomy.kind.name | split(pat="_") | join(sep=" ") | title %}
                    <a {{macros::link_attrs(type="taxonomy-kind", href="/"~taxonomy.kind.slug, title=taxonomy_title, current_url=nav_current_path)}}>
                      {{ taxonomy_title }}
                    </a>
                  {% endif %}
                </nav>
              {% endif %}
            {% endfor %}
          </nav>
        {% endif %}
      </div>
    {% else %}
      {% set page = get_page(path=nav) %}
      <a {{macros::link_attrs(type="page", href=page.path, title=page.title, current_url=nav_current_path)}} >
        <div class="poly-content">
          <span class="poly-navigation-title">{{page.title}}</span>
          {% if page.description %}
          <span class="poly-navigation-description">{{page.description}}</span>
          {% endif %}
        </div>
      </a>
    {% endif %}
  {% endfor %}
</nav>
{% endmacro %}