{% extends "layout.html" %} 

{% block page_meta %}
  {{ util::content_meta(content=page) }}
{% endblock %}

{% block breadcrumbs %}
  {% if config.extra.poly.breadcrumbs %}
    {% set_global links = [] %}
    {% set_global titles = [] %}
    {% for asc in page.ancestors %}
      {% set section = get_section(path=asc, metadata_only=true) %}
      {% set_global links = links | concat(with=[section.path]) %}
      {% set_global titles = titles | concat(with=[section.title]) %}
    {% endfor %}
    {% set_global links = links | concat(with=[page.path]) %}
    {% set_global titles = titles | concat(with=[page.title]) %}
    {{navigation::breadcrumbs(links=links, titles=titles)}}
  {% endif %}
{% endblock %}

{% block layout_main %}
  <div class="poly-page-content">
    <section>
      {% block page_content %}
        <article class="poly-page-main poly-container">
          {{ page.content | safe }}
        </article>
      {% endblock %}
      {% block page_aside %}
        {% include "partials/page-aside.html"%}
      {% endblock %}
    </section>
  </div>
{% endblock %}

{% block modals %}
  {{util::content_modals(assets=page.assets)}}
{% endblock %}
