{% import "navigation.html" as navigation %}
{% import "macros.html" as macros %}
{% extends "layout.html" %} 

{% block page_meta %}

  {{ macros::content_meta(content=page) }}

{% endblock %}


{% block layout_main %}
  <div class="poly-page-content">
    <section>
      <article class="poly-container">
        {% block page_content %}
          {{page.content | safe}}
        {% endblock %}
      </article>
      {% if page.extra.poly.aside %}
        <aside class="poly-page-aside">
          {% block page_aside %}
            <p>{{ page.extra.poly.aside }}</p>
          {% endblock %}
        </aside>
      {% endif %}
    </section>
  </div>
{% endblock %}

{% block modals %}
  {{macros::content_modals(assets=page.assets)}}
{% endblock %}
