{% extends "layout.html" %} 

{% block page_meta %}

  {{ util::content_meta(content=section) }}

{% endblock %}

{% block layout_main %}
  <div class="poly-page-content">
    <section>
      {% block section_pages %}
        <article class="poly-grid">
          {% include "partials/subsections-nav.html" %}
          {% if section.subsections | length > 0 %}
            <div class="poly-group-footer">
              <hr/>
            </div>
          {% endif %}
          {% include "partials/pages-nav.html" %}
        </article>
      {% endblock %}
      {% if section.content | length > 0 %}
        <aside class="poly-page-aside">
          {% block section_aside %}
            <article class="poly-container">
              {{section.content | safe}}
            </article>
          {% endblock %}
        </aside>
      {% endif %}
    </section>
  </div>
{% endblock %}

{% block modals %}
  {{util::content_modals(assets=section.assets)}}
{% endblock %}