{% extends "layout.html" %}

{% block page_meta %}

  {{ util::taxonomy_meta(tx=taxonomy) }}

{% endblock %}

{% block layout_main %}
  <div class="poly-page-content">
    <section>
      {% block taxonomy_content %}
        <article class="poly-grid">
          {% include "partials/taxonomy-kind-content.html" %}
        </article>
      {% endblock %}
      {% block taxonomy_aside %}
        <aside class="poly-page-aside">
          <article class="poly-container">
            {% include "partials/taxonomy-kind-aside.html" %}
          </article>
        </aside>
      {% endblock %}
    </section>
  </div>
{% endblock %}