{% extends "layout.html" %}

{% block page_meta %}

  {{ util::taxonomy_meta(tx=taxonomy) }}

{% endblock %}

{% block breadcrumbs %}
  {% if config.extra.poly.breadcrumbs %}
    {% include "partials/breadcrumbs.html" %}
  {% endif %}
{% endblock %}

{% block layout_main %}
  <div class="poly-page-content">
    <section>
      {% block taxonomy_content %}
        {% include "partials/taxonomy-kind-content.html" %}
      {% endblock %}
      {% block taxonomy_aside %}
        {% include "partials/taxonomy-kind-aside.html" %}
      {% endblock %}
    </section>
  </div>
{% endblock %}