{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block layout_main %}
  <div class="poly-taxonomy-content">
    <section>
      <article class="poly-container">
        {% block taxonomy_content %}
          {% set_global rendered_pages = [] %}
          {% if config.extra.poly.menu_order %}
              {% for nav in config.extra.poly.menu_order %}
                {% if nav is ending_with("_index.md")%}
                  {% set section = get_section(path=nav, metadata_only=true) %}
                  {% if section.extra.poly.use_taxonomies and section.extra.poly.use_taxonomies is containing(taxonomy.name) %} 
                    {% set_global rendered_count = 0 %}
                    {% set pages = term.pages %}
                    {% if paginator %}
                      {% set pages = paginator.pages %}
                    {% endif %}
                    {% set sort_by = macros::get_taxonomy_term_sort_by(kind=taxonomy.name, term=term.name) | trim %}
                    {% set pages = pages | sort(attribute=sort_by) %}
                    {% for page in pages %}
                      {% if page.ancestors is containing(section.relative_path) and rendered_pages is not containing(page.path) %}
                        {% set hero = false %}
                        {% if page.extra.poly.hero %}
                          {% set hero = macros::poly_path(value=page.extra.poly.hero, assets=page.assets) | trim %}
                        {% endif %}
                        {{macros::link_hero_card(type="page", path=page.path, hero=hero, title=page.title, description=page.description, block=page.extra.poly.block | default(value = section.extra.poly.page_block | default(value=false)), banner = page.extra.poly.banner | default(value=section.extra.poly.page_banner | default(value=false)), pop = page.extra.poly.pop | default(value=false))}}
                        {% set_global rendered_count = rendered_count + 1 %}
                        {% set_global rendered_pages = rendered_pages | concat(with=[page.path]) %}
                      {% endif %}
                    {% endfor %}
                    {% if rendered_count > 0 %}
                      <a {{macros::link_attrs(type="section", href=section.path, title=section.description|default(value=section.title))}}><span class="has-text-grey-light">See all: </span>{{section.title}}</a>
                      <hr/>
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endif %}
            {% set pages = term.pages %}
            {% if paginator %}
              {% set pages = paginator.pages %}
            {% endif %}
            {% set sort_by = macros::get_taxonomy_term_sort_by(kind=taxonomy.name, term=term.name) | trim %}
            {% set pages = pages | sort(attribute=sort_by) %}
            {% for page in pages %}
              {% if rendered_pages is not containing(page.path)%}
                {% set hero = false %}
                {% if page.extra.poly.hero %}
                  {% set hero = macros::poly_path(value=page.extra.poly.hero, assets=page.assets) | trim %}
                {% endif %}
                {{macros::link_hero_card(type="page", path=page.path, hero=hero, title=page.title, description=page.description, block=page.extra.poly.block | default(value=false), banner = page.extra.poly.banner | default(value=false), pop = page.extra.poly.pop | default(value=false))}}
                {% set_global rendered_pages = rendered_pages | concat(with=[page.path]) %}
              {% endif %}
            {% endfor %}
            {% if paginator and paginator.number_pagers > 1 %}
              {{macros::pager(pagination=paginator)}}
            {% endif %}
        {% endblock %}
      </article>
      <aside class="poly-page-aside">
        {% block taxonomy_aside %}
        <article class="poly-container">
          {% set term_content = macros::get_taxonomy_term_content(kind=taxonomy.name, term=term.name) | trim %}
          {% if term_content | length > 0 %} 
            {{term_content | safe}}
          {% else %}
            {% set term_description = macros::get_taxonomy_term_description(kind=taxonomy.name, term=term.name) | trim %}
            <h3>{{term.name}}</h3>
            {% if term_description | length > 0 %} 
              <p>{{term_description}}</p>
            {% endif %}
          {% endif %}
          <nav>
            {% set taxonomy_title = macros::get_taxonomy_kind_title(kind=taxonomy.name) | trim %}
            {% set taxonomy_description = macros::get_taxonomy_kind_description(kind=taxonomy.name, default=taxonomy_title) | trim %}
            <a {{macros::link_attrs(type="taxonomy-kind", href="/"~taxonomy.slug, title=taxonomy_description)}}>
              <span class="has-text-grey-light">More: </span>{{taxonomy_title}}
            </a>
          </nav>
        </article>
        {% endblock %}
      </aside>
    </section>
  </div>
{% endblock %}